<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Analyzer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Analyzer.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedMain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selectedWrong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="extractionPath" serializeAs="String">
                <value>.\export\</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="leftContext" serializeAs="String">
                <value />
            </setting>
            <setting name="rightContext" serializeAs="String">
                <value />
            </setting>
            <setting name="checkLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="virsion" serializeAs="String">
                <value>0.0.2</value>
            </setting>
            <setting name="csvSplitter" serializeAs="String">
                <value />
            </setting>
            <setting name="splitetrIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writeLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bigText" serializeAs="String">
                <value />
            </setting>
            <setting name="shiftLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shiftRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pairedEnd" serializeAs="String">
                <value>False</value>
            </setting>
        </Analyzer.Settings>
    </userSettings>
</configuration>